/*header*/
body{
    background-color: rgb(177, 177, 255);
}

.fotki{
    display: flex;
    justify-content: space-around;
}
/*header-end*/
/*div-opasity*/
.div-opasity{
    position: relative;
}
/*div-opasity-end*/
/*div-hadpis*/
.nadpis1{
    position: absolute;
    top: -50px;
    left: 126px;
    width: 369px;
    height: 50px;
    background-color: black;
    opacity: 60%;
}

.nadpis2{
    position: absolute;
    top: -50px;
    left: 748px;
    width: 369px;
    height: 50px;
    background-color: black;
    opacity: 60%;
}

.nadpis3{
    position: absolute;
    top: -50px;
    left: 1368px;
    width: 369px;
    height: 50px;
    background-color: black;
    opacity: 60%;
}
/*div-hadpis-end*/
/*hadpis*/
.text1{
    margin-top: 13px;
    margin-left: 110px;
    color: white;
    text-decoration: none;
}

.text2{
    margin-top: 13px;
    margin-left: 118px;
    color: white;
    text-decoration: none;
}

.text3{
    margin-top: 13px;
    margin-left: 110px;
    color: white;
    text-decoration: none;
}
/*hadpis-end*/